name: CI
on:
  push:
    branches:
        - main
  pull_request:
  schedule:
    - cron: '0 0 * * 1'
permissions:
  contents: write
  pull-requests: write
jobs:
  Linux:
    runs-on: ${{ matrix.runner }}
    strategy:
      max-parallel: 10
      matrix:
        platform: ['linux/amd64', 'linux/arm64', 'linux/s390x']
        version: ['8.1', '8.2', '8.3', '8.4', '8.5']
        type: ['cli', 'zts']
        distro: ['trixie', 'alpine']
        include:
          - platform: 'linux/amd64'
            runner: 'ubuntu-24.04'
          - platform: 'linux/arm64'
            runner: 'ubuntu-24.04-arm'
          - platform: 'linux/s390x'
            runner: 'ubuntu-24.04'
    steps:
        - name: Checkout
          uses: actions/checkout@v6
          with:
            submodules: true
            fetch-depth: 1
        - name: Setup QEMU
          if: matrix.platform == 'linux/s390x'
          uses: docker/setup-qemu-action@v3
          with:
            platforms: "s390x"
        - name: Setup buildx
          uses: docker/setup-buildx-action@v3
        - name: Build container
          run: |
            docker compose build --pull --no-cache --build-arg PLATFORM="${{ matrix.platform }}" --build-arg IMAGE="php" --build-arg TAG="${{ matrix.version }}-${{ matrix.type }}-${{ matrix.distro }}"
        - name: Test extension with Bundled PHP + PHP library test
          if: matrix.platform != 'linux/s390x'
          run: |
            docker compose run --rm shell library_test
        - name: Test extension with PHP Debug Build
          if: matrix.platform != 'linux/s390x' && matrix.version != '8.1'
          run: |
            docker compose run --rm --env CONFIGURE_OPTS="--enable-mysqlnd --with-pdo-mysql" shell pskel test debug
        - name: Test extension with Valgrind
          if: matrix.platform != 'linux/s390x' && matrix.version != '8.1'
          run: |
            docker compose run --rm --env CONFIGURE_OPTS="--enable-mysqlnd --with-pdo-mysql" shell pskel test valgrind
        - name: Test extension with LLVM Sanitizer (MemorySanitizer)
          if: matrix.platform != 'linux/s390x' && matrix.distro != 'alpine' && matrix.version != '8.1'
          run: |
            docker compose run --rm --env CONFIGURE_OPTS="--enable-mysqlnd --with-pdo-mysql" shell pskel test msan
        - name: Test extension with LLVM Sanitizer (AddressSanitizer)
          if: matrix.platform != 'linux/s390x' && matrix.distro != 'alpine' && matrix.version != '8.1'
          run: |
            docker compose run --rm --env CONFIGURE_OPTS="--enable-mysqlnd --with-pdo-mysql" shell pskel test asan
        - name: Test extension with LLVM Sanitizer (UndefinedBehaviorSanitizer)
          if: matrix.platform != 'linux/s390x' && matrix.distro != 'alpine' && matrix.version != '8.1'
          run: |
            docker compose run --rm --env CONFIGURE_OPTS="--enable-mysqlnd --with-pdo-mysql" shell pskel test ubsan
